@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;

  background: #222222;
  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fa {
  color: #FFF;
}
