/* The side navigation menu */
.sidenav {
    height: 100vh;
    background-color: #333;
    width: 200px;
    position: fixed;
    top: 79px;
}

.sidenav ul {
    padding-left: 10px;
}

.sidenav ul li {
    list-style: none;
}

.sidenav ul li :hover {
    color: #00B9BC;
    background-color: #5b5b5b;
}

/* The navigation menu links */
.sidenav ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #FFF;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#root {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
